.Dangky {
    padding: 4px 4px ;
    text-align: center;
}
span.ant-select-arrow {
    color: black;
    font-weight: 800;
    color:rgb(117, 112, 112)
}
.ant-row.ant-form-item {
    width: 100%;
    
}